{% extends '../template.html'  %}
{% load static %}
{% block content %}
<div>
    {% for pinfo in post   %}

    <h2>{{ pinfo.heading }}</h2>
    <hr/>
    <p>
        {{ pinfo.details }}
    </p>

    <img src="/{{pinfo.featureimage}}" alt="{{pinfo.heading}}" title="{{pinfo.heading}}" class="rounded img-thumbnail img-fluid" />
    
    {% endfor %}

</div>

<div>
    <h2>Post your Comments</h2>
    {% if user.is_authenticated %}
    {% for cmtmessage in messages %}
        {{ cmtmessage }}
        {% endfor %}
        <form action = "/comments/add/" method="post">
        {% csrf_token %}
        <input type="text" readonly name="post_id" value="{{ postid }}"/><br/>
        <input type="hidden"  name="user_id" value="{{ user.id }}"/><br/>
        <textarea rows="5" cols="50" name="cmt"/>
        </textarea>
        <br/>
        <input type="submit" name="Submit" value="Post Comments"/>
        <input type="reset" name="Reset" value="Cancel"/>
    </form>
{% else %}
<p>For adding a commnet you have to login first.</p>
<p>Only Login Users can post the comments.</p>
<a href="{% url 'login' %}">Login</a>
{% endif %}

</div>
<div>
    <h2>Comments for this post</h2>
    {% for cmt in allcomment   %}
    <p>{{ cmt.cmt }}</p>
    <p>{{ cmt.createdate }}</p>
    <hr/>
    {% endfor %}
</div>
{% endblock content %}